Pods/
Carthage/
Cartfile
.build/
build/
DerivedData/
Output/
vendor/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/

*.moved-aside
*.xccheckout
*.xcscmblueprint

*.hmap
*.ipa
*.dSYM.zip
*.dSYM

*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcworkspace/contents.xcworkspacedata
/*.gcno
.DS_Store

.idea

fastlane/report.xml
fastlane/test_output/*
gcp-key.json

*.p8

.bundle/config
